.homepage-container {
  background-image: url("../assets/background2.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  /* position: relative; */
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.main-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#start-btn {
  /* height: 30px; */
  /* width: 90px; */
  background: none;
  border: none;
  outline: 0;
  /* color: white; */
  /* font-size: 32px; */
  cursor: pointer;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.main-menu-l-container {
  transform: perspective(400px) rotateY(25deg);
  height: 100%;
  display: flex;
  align-items: center;
}

.main-menu-l-header {
  color: white;
  font-family: 'Nosifer';
  font-size: 55px;
  display: flex;
  align-items: center;
}

.main-menu-r-container {
  transform: perspective(400px) rotateY(-25deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
}

.main-menu-r-container button {
  color: white;
  font-family: 'Nosifer';
  font-size: 44px;
}

.main-menu-r-container button:hover {
  color: yellow;
  text-shadow: 1px -1px 9px #ffffffa8;
}

.Lopen {
  animation: wtf;
  animation-duration: 1.5s;
}

.Ropen {
  animation: wtf2;
  animation-duration: 1.5s;
}

@keyframes wtf {
  0% {
    font-size: 60px;
    transform: perspective(100px) rotateY(50deg) translateX(-400%);
  }
  100% {
    transform: perspective(400px) rotateY(25deg) translateX(0%);
  }
}

@keyframes wtf2 {
  0% {
    font-size: 60px;
    transform: perspective(100px) rotateY(-50deg) translateX(400%);
  }
  100% {
    transform: perspective(400px) rotateY(-25deg) translateX(0%);
  }
}

.Rclose {
  animation: wtf2out 1.5s;
}

.Lclose {
  animation: wtfout 1.5s;
}

@keyframes wtfout {
  0% {
    transform: perspective(400px) rotateY(25deg) translateX(0%);
  }
  100% {
    font-size: 60px;
    transform: perspective(100px) rotateY(50deg) translateX(-400%);
  }
}

@keyframes wtf2out {
  0% {
    transform: perspective(400px) rotateY(-25deg) translateX(0%);
  }
  100% {
    font-size: 60px;
    transform: perspective(100px) rotateY(-50deg) translateX(400%);
  }
}


#links-container-homepage {
  background: none;
  vertical-align: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 290px;
}

#links-container-homepage .link-imgs {
  height: 60px;
  width: auto;
  display: flex;
  padding: 5px;
  transition: 0.3s;
}

#links-container-homepage .link-imgs:hover {
  transform: scale(1.3);
}