.modal {
  display: none;
}

.modal.open {
  display: block;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.instructions-container {
  /* width: 400px; */
  height: 600px;
  width: 30%;
  border: 1px solid white;
  border-radius: 3%;
  background: rgb(85, 85, 85);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}

.instructions-header {

}

.target-container {
  width: 100%;
  left: 0;
  margin: auto 0;
  /* background: white; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  color: black;
  z-index: 3;
}

.target {
  width: 10vmin;
  height: 10vmin;
  background: lightgray;
  box-sizing: border-box;
  border: 1vmin solid black;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin: 5vmin auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 35px;
}

#target-1 {
  box-shadow: inset 0 0 0 1.5vmin green;
}

#target-2 {
  box-shadow: inset 0 0 0 1.5vmin red;
}

#target-3 {
  box-shadow: inset 0 0 0 1.5vmin yellow;
}

#target-4 {
  box-shadow: inset 0 0 0 1.5vmin blue;
}

#target-5 {
  box-shadow: inset 0 0 0 1.5vmin orange;
}

