
.score-board {
  width: 250px;
  height: 100%;
  bottom: 0;
  left: 8%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
}

.score-wrapper {
  background: black;
  padding: 15px;
  margin-bottom: 40px;
}

.score {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
}

.game-btns {
  color: white;
  background: black;
  width: 100%;
  font-size: 20px;
  padding: 10px 5px;
  margin: 10px auto;
  outline: 0;
  border-style: outset;
  border: none; 
}

.game-btns:hover {
  background: rgb(65, 65, 65);
  cursor: pointer;
}

.game-btns:active {
  background: rgb(112, 112, 112);
}

.streak-container {
  height: 100%;
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.streak-board {
  /* width: 250px;
  height: 300px; */
  border: 1px solid black;
  /* bottom: 0;
  right: 15%; */
  margin-bottom: 40px;
  /* position: absolute; */
  background: black;
  border: 1px solid black;
  bottom: 0;
  right: 8%;
  margin-bottom: 40px;
  position: absolute;
  background: black;
}

#streak-img{
  /* position: absolute; */
  border: none;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 25px;
}

.streak {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  /* display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  align-items: center; */
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.streak-wrapper {
  margin-bottom: 20px;
}

.links-container {
  background: white;
  vertical-align: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.link-imgs {
  height: 30px;
  width: auto;
  display: flex;
  padding: 5px;
}

.link-imgs:hover {
  cursor: pointer;
}
