.song-selection-container-closed {
  position: absolute;
  left: -750px;
  top: 100px;
  animation: wtf4;
  animation-duration: 1s;
}

.selection-circle {
  position: relative;
  
  width: 700px;
  height: 700px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.song-selection-container-open {
  position: absolute;
  left: -350px;
  top: 100px;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  animation: wtf3;
  animation-duration: 1s;
}

@keyframes wtf3 {
  0% {
    /* font-size: 60px; */
    left: -750px;
  }
  100% {
    left: -350px;
  }
}

@keyframes wtf4 {
  0% {
    /* font-size: 60px; */
    left: -350px;
  }
  100% {
    left: -750px;
  }
}

.selection-circle-ul {
  /* top: -15px;
  left: -15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  position: relative; */

  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto; */
}

.song-carousel-item {
  color: white;
  font-size: 20px;
  width: 30px;
  height: 30px;
  background: rgba(197, 226, 159, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}